@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  margin: 0px;
  padding: 0px;
}

body,
html {
  height: 100%;
  margin: 0;
}

.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

#menuToggler {
  color: white;
  background-color: grey;
  padding: 0.25em 0.5em;
  font-size: 2em;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 5;
  align-self: stretch;
  margin-left: auto;
  transform: translateY(-100vw);
  transition: 0.5s;
  height: auto;
}

.menu.open {
  transform: translateY(0);
  transition: 0.5s;
}

.menu a {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  color: #006678;
}

.menu a:hover {
  color: white;
}

.menu :hover {
  background-color: #006678;
}


.menu li{
  list-style: none;
  padding: 1em;
  text-align: left;
}

.header .header_logo img {
  padding: 10px;
  height: 40px;
  width: 250px;
}

.contactbgimage {
  background-image: url("../images/background.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.contactform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  padding: 10px 0;
}

.contactform :hover{
  background-color: black;
}

.flex-outer{
  list-style-type: none;
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li{
  display: flex;
  align-items: center;
}

.flex-outer li textarea,input{
  display: block;
}

.flex-outer li textarea:hover,
.flex-outer li input:hover{
  background-color: white;
}

.flex-outer li button:hover{
  background-color: blue;
}

.flex-outer li button {
  margin: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 3px;
}

.footer {
  align-self: stretch;
  padding:1em 0em;
  width: 100%;
  position: auto;
  background-color: #006678;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.fa {
  margin-top: 15px;
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #ffffff;
  color: #000000;
}

.hometext1,
.hometext3,
.feedback h3,
.feedback h4 {
  padding: 5px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.hometext2 {
   padding: 5px;
   font-weight: lighter;
   font-family: 'Poppins', sans-serif;
 }

.feedback h2 {
   font-weight: lighter;
   font-family: 'Poppins', sans-serif;
 }

.feedback p {
   padding: 5px 5em;
   font-weight: lighter;
   font-family: 'Poppins', sans-serif;
   text-align: center;
 }

.feedback {
   padding: 8em 0em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #6EC1E4;
   transition: background-color 0.4s;
 }

.feedback:hover {
  background-color: #6EB1E5;
 }

.advert {
  padding: 5em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}


.advert img {
  width: 80%;
}

.text_main button {
   color: #f2f3f4;
   padding: 10px 25px;
   background: #006678;
   border: 1px solid #fff;
   border-radius: 20px;
   outline: none;
   cursor: pointer;
}

.slideshow-container {
  max-width: 1000px;
  max-height: 600px;
  padding: auto;
  margin: auto;
  padding-top: 3em;
}

.mySlides {
  display: none;
}

.slideshow-container img {
  width: 100%;
  max-height: 520px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  padding: 14px;
  font-size: 30px;
  font-weight: bold;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}


@media screen and (min-width: 800px){

  .flex-outer li label {
    flex: 1 0 150px;
    padding: 12px;
    font-weight: 400;
    font-size: 1.2em;
    border: none;
    text-transform: uppercase;
  }

  .flex-outer li textarea,input{
    display: block;
    padding:10px 50px;
    border: none;
    margin: 1em auto;
    width: 500px;
    height: 50px;
  }

  .flex-outer li textarea{
    height: 200px;
  }
}

@media screen and (min-width: 1000px){

  #menuToggler{
    display: none;
  }

  .menu {
    align-self: stretch;
    margin-left: auto;
    margin-top: 0em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: auto;
    width: auto;
    transition: none;
    transform: none;
    position: static;
  }

  .menu a {
    padding: 0em;
    background-color: white;
    font-size: 1em;
  }

  .header .menu li a {
    padding: 24px 35px;
  }

  .menu li{
    padding: 0em;
  }


  .advert img {
    display: grid;
    width: 70%;
  }


  .advert {
      padding: 8em 0em 8em 12em;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
  }


}
