
header {
  background-color: white;
  display: flex;
  }

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  padding: 0.25em;
  color: #5badf0;
  text-decoration: none;
  margin: 0.5em;
}

nav a.highlight {
  background-color: #5badf0;
  color: white;
}


body {
  background: grey;
}

img {
margin-right: 45em;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  position: auto;
  background-color: #e8491d;
  color: white;
  text-align: center;
}
