@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  height: 100%;
  margin: 0px;
}


.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

#menuToggler {
  color: white;
  background-color: grey;
  padding: 0.25em 0.5em;
  font-size: 2em;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: white;
  left: -100%;
  transition: 0.5s;
}

.menu.open {
  transform: translateY(0);
  transition: 0.5s;
  width: 100%;
  height: 100%;
  left: 0;
}

nav a.highlight {
  color: #006678;
}

.menu a {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  border-bottom: solid 1px #ffffff;
  transition: border-width 0.2s linear;
  color: #000000;
  padding: 1em;
  text-align: center;
}

.menu a:hover {
  border-width: 2px;
  border-color: #006678;
  color: #006678;
}

.header .header_logo img {
  padding: 10px;
  height: 40px;
  width: 250px;
}

.footer {
  align-self: stretch;
  padding:1em 0em;
  width: 100%;
  background-color: #006678;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.fab,
.far,
.fas {
  margin-top: 15px;
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #ffffff;
  color: #000000;
}

.hometext1,
.hometext3,
.feedback h3,
.feedback h4 {
  padding: 5px;
  font-weight: bold;
}

.hometext3 {
  padding-bottom: 1em;
}

.hometext2 {
  padding: 5px;
  font-weight: lighter;
}

.feedback h2 {
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
}

.feedback p {
  padding: 5px 5em;
  font-weight: lighter;
  text-align: center;
}

.feedback {
  padding: 8em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6EC1E4;
  transition: background-color 0.4s;
}

.feedback:hover {
  background-color: #6EB1E5;
}

.advert {
  padding: 5em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.advert img {
  width: 80%;
}

.Contact:hover,
.Contact-secondary:hover {
  background-color: white;
  color: #006678;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.stats section{
  padding: 2em;
}

.stats h2 {
  font-size: 3em;
  padding-bottom: 0.1em;
  color: #006678;
}

.stats h4 {
  font-size: 1.2em;
  color: lightgrey;
  font-weight: lighter;
}

.servicesbgimage {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.myservices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 0em;
  background-color: #6EC1E4;
}

.services-tile {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4em 2em;
  width: 25%;
  margin: 1em;
  background-color: #ffffff
}

.services-tile i{
  margin: auto;
}

.services-tile i:hover{
  background-color: #006678;
}

.slideshow-container {
  width: 100%;
}

.mySlides {
  display: none;
}

.slideshow-container img {
  display: block;
  width: 70%;
  max-height: 420px;
  margin-left: auto;
  margin-right: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  padding: 14px;
  font-size: 30px;
  font-weight: bold;
  transition: 0.6s ease;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 0em;
  background-color: #ffffff;
}

.customer-tile {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 15%;
  margin: 1em;

}

.text {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.divider {
  padding-top: 15px;
  padding-bottom: 15px;
}

.divider-separator {
  display: flex;
  width: 10%;
  margin: 0 auto;
  color: #006678;
  border-style: solid;
}

.portfolio-head,
.services-head,
.contact-head {
  text-align: center;
  font-weight: 600;
  margin-top: 1em;
  padding-top: 2em;
}

.main-contact {
  background-color: lightgrey;
  width: 100%;
}

.contacthead {
  text-align: center;
  background-color:#006678;
  color: #ffffff;
}

.contact-outer{
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  width: 100%;
}

.contactmain {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 55px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #D3D3D3;
}

.contactform {
  display: block;
  padding-right: 2rem;
  border-radius: 0.3rem;
}

.contactform label {
 display: flex;
 flex-direction: column;
 font-size: 1.125rem;
 margin-bottom: 0.5rem;
 font-weight: bold;
 font-style: italic;
}

.contactform select {
  width: 100%;
  padding: 5px;
}

.contactform input {
  border: none;
  border-bottom: solid 1px;
  width: 100%;
  padding: 5px;
}

.contactform textarea{
 width: 100%;
 min-height: 6rem;
 resize: vertical;
 padding: 5px;
}

.flex-outer {
  list-style-type: none;
  display: inline-block;
  text-align: left;
  width: 100%;
}

.flex-outer li {
  padding: 1em;
  width: 100%;
}

.submit_button {
  text-align: center;
  width: 100%;
}

.submit_inner {
  background-color: pink;
  padding: 15px;
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
}

.contact-link {
  display: block;
  text-align: center;
  padding: 2em;
  margin: auto 10em;
}

.contact-link section {
  display: inline-block;
  padding-right: 1em;
  color: #006678;
}

.Contact,
.Contact-secondary {
  text-decoration: none;
  padding: 5px 15px;
  background-color: #006678;
  color: #f2f3f4;
  border: 1px solid #000000;
  border-radius: 20px;
}

.Contact {
  margin-top: 5em;
}

.about-head {
  padding: 5em;
  padding-top: 7em;
  background-color: #006678;
  text-align: center;
  color: #ffffff;
}

.about {
  margin-top: -5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-main {
  background-color: #F2F3F4;
}

.about-tile {
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
  width: 50%;
  margin: 1em 1em;
  background-color: #ffffff;
}

.about-tile h3 {
  padding-bottom: 1em;
  font-size: 1em;
}

.process-head {
  text-align: center;
}

.process {
  display: flex;
  flex-wrap: wrap;
}

.process-number {
  display: flex;
  margin: auto;
}

.proc

@media screen and (min-width: 600px){

  .Contact,
  .Contact-secondary {
    padding: 10px 25px;
    background-color: #006678;
    color: #f2f3f4;
    border: 1px solid #000000;
  }

  .about-tile {
    width: 15%;
  }

  .about-tile h3 {
    padding-bottom: 1em;
    font-size: 2em;
  }

}
@media screen and (min-width: 1000px){

  #menuToggler{
    display: none;
  }

  .menu {
    margin-left: auto;
    margin-top: 0em;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    transition: none;
    transform: none;
    position: static;
  }

  .menu a {
    padding: 0em;
    padding-bottom: 0.3em;
    background-color: white;
    font-size: 1em;
  }

  .header .menu a  {
    padding: 24px 35px;
  }


  .advert img {
    display: grid;
    width: 70%;
  }


  .advert {
    padding: 8em 0em 8em 12em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .contact-head {
    padding: 5em;
    padding-top: 8em;
  }

  .contact-head h1 {
    font-size: 3em;
  }


}
