@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  height: 100%;
  margin: 0px;
}


.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

#menuToggler {
  color: white;
  background-color: grey;
  padding: 0.25em 0.5em;
  font-size: 2em;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: white;
  transform: translateY(-100vw) translateX(100vw);
  transition: 0.5s;

}

.menu.open {
  transform: translateY(0);
  transition: 0.5s;
  width: 100%;
  left: 0;
}

nav a.highlight {
  color: #006678;
}

.menu a {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  border-bottom: solid 1px #ffffff;
  transition: border-width 0.2s linear;
  color: #000000;
  padding: 1em;
}

.menu a:hover {
  border-width: 2px;
  border-color: #006678;
  color: #006678;
}

.header .header_logo img {
  padding: 10px;
  height: 40px;
  width: 250px;
}


.contactbgimage {
  /*background-image: url("../images/background.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;*/
}

.contactform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  padding: 10px 0;
}

.contactform :hover {
  background-color: black;
}

.flex-outer {
  list-style-type: none;
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li {
  display: flex;
  align-items: center;
}

.flex-outer li textarea,input {
  display: block;
}

.flex-outer li textarea:hover,
.flex-outer li input:hover {
  background-color: white;
}

.flex-outer li button:hover {
  background-color: blue;
}

.flex-outer li button {
  margin: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 3px;
}

.footer {
  align-self: stretch;
  padding:1em 0em;
  width: 100%;
  background-color: #006678;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.fa {
  margin-top: 15px;
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #ffffff;
  color: #000000;
}

.hometext1,
.hometext3,
.feedback h3,
.feedback h4 {
  padding: 5px;
  font-weight: bold;

}

.hometext2 {
  padding: 5px;
  font-weight: lighter;
}

.feedback h2 {
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
}

.feedback p {
  padding: 5px 5em;
  font-weight: lighter;
  text-align: center;
}

.feedback {
  padding: 8em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6EC1E4;
  transition: background-color 0.4s;
}

.feedback:hover {
  background-color: #6EB1E5;
}

.advert {
  padding: 5em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}


.advert img {
  width: 80%;
}

.text_main button {
  color: #f2f3f4;
  padding: 10px 25px;
  background: #006678;
  border: 1px solid #fff;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.stats section{
  padding: 2em;
}

.stats h2 {
  font-size: 3em;
  padding-bottom: 0.1em;
  color: #006678;
}

.stats h4 {
  font-size: 1.2em;
  color: lightgrey;
  font-weight: lighter;
}



.slideshow-container {
  width: 100%;

}

.mySlides {
  display: none;
}

.slideshow-container img {
  display: block;
  width: 70%;
  max-height: 420px;
  margin-left: auto;
  margin-right: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  padding: 14px;
  font-size: 30px;
  font-weight: bold;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  background-color: #5bb1c0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 2em;
}

.portfolio-head {
  text-align: center;
  font-weight: 600;
}

.divider {
  padding-top: 15px;
  padding-bottom: 15px;
}

.divider-separator {
  display: flex;
  width: 10%;
  margin: 0 auto;
  color: #006678;
  border-style: solid;
}

.portfolio-head {
  margin-top: 1em;
  padding-top: 2em;
}

@media screen and (min-width: 800px){

  .flex-outer li label {
    flex: 1 0 150px;
    padding: 12px;
    font-weight: 400;
    font-size: 1.2em;
    border: none;
    text-transform: uppercase;
  }

  .flex-outer li textarea,input{
    display: block;
    padding:10px 50px;
    border: none;
    margin: 1em auto;
    width: 500px;
    height: 50px;
  }

  .flex-outer li textarea{
    height: 200px;
  }


}

@media screen and (min-width: 1000px){

  #menuToggler{
    display: none;
  }

  .menu {
    margin-left: auto;
    margin-top: 0em;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    transition: none;
    transform: none;
    position: static;
  }

  .menu a {
    padding: 0em;
    padding-bottom: 0.3em;
    background-color: white;
    font-size: 1em;
  }

  .header .menu a  {
    padding: 24px 35px;
  }


  .advert img {
    display: grid;
    width: 70%;
  }


  .advert {
    padding: 8em 0em 8em 12em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
  }


}
